<%= render 'shared/bet_display', bet: @bet %>

<% if @bet.creator == current_user %>
  <hr>
  <div class="resolve-bet">
    <div class="row text-center">
      <div class="col col-lg-6 offset-lg-3">
        <% if @bet.resolved? %>
          <div class="text-muted">
            <h3>This bet has been resolved.</h3>
          </div>
        <% else %>
          <%= link_to 'Resolve this bet',
            resolve_bet_path,
            class: 'btn btn-success resolve-bet-btn',
            role: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @bet.resolved? %>
  <%= render 'debts/debts_per_bet', bet: @bet %>
<% else %>
  <%= render 'display_unresolved_bets', bet: @bet, user_bet: @user_bet %>
<% end %>
