<hr>
<div class="row">
  <div class="col col-lg-6 offset-lg-3">
    <div class="card text-center">
      <div class="card-header text-muted">
        <h4><%= @bet.creator.username %></h4>
      </div>
      <div class="class-block">
        <p><h5 class="card-text"><%= @bet.bet %></h5></p>
      </div>
      <div class="card-footer text-danger">
        Expires on: <%= @bet.expires_at.strftime('%A, %B %d %Y, %l:%M %P') %>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-header text-muted">
        <div class="row">
          <div class="col col-lg-4">User</div>
          <div class="col col-lg-4">Option ID</div>
          <div class="col col-lg-4">Amount</div>
        </div>
      </div>
      <div class="card-block">
        <table class="table table-hover">
          <%= render @bet.user_bets %>
        </table>
      </div>
    </div>
  </div>
</div>
