<% provide(:button_text, 'Save changes') %>
<div class="container">
  <div class="row text-center">
    <div class="offset-lg-4">
      <h2>Editing user <%= @user.username %></h2>
      <hr>
      <%= render 'user_form' %>
    </div>
  </div>
</div>
