<% provide(:button_text, 'Save changes') %>
<div class="container">
  <div class="row text-center">
    <h2>Editing user <%= @user.username %> </h2>
    <hr>
    <%= render partial: 'shared/user_form', user: @user %>
  </div>
</div>
