<% provide(:button_text, 'Sign Up') %>
<div class="container">
  <div class="row text-center">
    <div class="offset-lg-4">
      <h2>Creating New User</h2>
      <hr>
      <%= render 'user_form' %>
    </div>
  </div>
</div>
