<% provide(:button_text, 'Sign up') %>
<div class="container">
  <div class="row text-center">
    <h2>Creating new User</h2>
    <hr>
    <%= render partial: 'shared/user_form', user: @user %>
  </div>
</div>
