<div class="container">
  <div class="row text-center">
    <div class="col-lg-4 offset-lg-4">
      <h2>Viewing User:</h2>
      <hr>
      <h6><%= @user.username %></h6>
      <h6><%= @user.email %></h6>
    </div>
  </div>
</div>
