<tr class="row" role="button">
  <td class="col col-lg-2">
    <%= radio_button_tag :bet_option_id, bet_option.id %>
    <%= label_tag :bet_option, bet_option_counter + 1 %>
  </td>
  <td class="col col-lg-6"><%= bet_option.option_text %></td>
  <td class="col col-lg-4">$<%= format('%.2f', bet_option.option_total) %></td>
</tr>
