<tr class="row">
  <td class="col col-lg-4"><%= user_bet.user.username %></td>
  <td class="col col-lg-4"><%= user_bet.bet.options.index(user_bet.bet_option) + 1 %></td>
  <td class="col col-lg-4">$<%= user_bet.amount_bet %></td>
</tr>
